# Master service to manage multithreaded node service
# inspired from http://alesnosek.com/blog/2016/12/04/controlling-a-multi-service-application-with-systemd/
[Unit]
Description={{ app_service_name }}
After=network-online.target

[Service]
# The dummy program will exit
Type=oneshot

User={{ app_user }}
Group={{ app_user }}

# Execute a dummy program
ExecStart=/bin/true
# This service shall be considered active after start
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
